{% import "macros.twig" as macros %}
{% from "macros.twig" import btn %}

<div class=" col-12 col-sm-6 col-md-4 col-lg-3 mb-3 position-relative">
	<div class="position-absolute" style="right: 4px; top: 4px">
		<form action="/animals_obj/{{ object.id }}/delete" method="post">
			<button type="submit" class="btn btn-danger">
				<i class="fas fa-times"></i>
			</button>
		</form>
	</div>
	<div class="position-absolute" style="right: 50px; top: 4px">
		<form action="/animals_obj/{{ object.id }}/edit" method="post">
			<button type="submit" class="btn btn-info">
				<i class="fas fa-folder-open"></i>
			</button>
		</form>
	</div>
	<div class="d-flex"
		style="justify-content: flex-start; flex-direction: column; align-items: center; border: 1px solid black; height: 100%; padding:5px">
		<img src='{{ object.image }}' alt="" style="width:100%; height:300px; object-fit:contain">
		<br>
		<a>{{ macros.btn(object.title, "/animals_obj/" ~ object.id, true) }}</a>
		<li class="list-group-item" style="border: 0px">
			<a>{{ macros.btn('Картинка', "/animals_obj/" ~ object.id ~ "/?show=image", title == object.title) }}</a>
			<a>{{ macros.btn('Описание', "/animals_obj/" ~ object.id ~ "/?show=info", title == object.title) }}</a>
		</li>
	</div>
</div>